.Rproj.user
.Rhistory
.RData
.Ruserdata
*.parquet
*.PARQUET
*.Rproj
apis.R
# macOS
.DS_Store

# R temporary files
.RData
.Rhistory
*.RData
.RDataTmp
.RDataTmp1

# macOS
*.DS_Store

# R temporary files
*.RData
*.Rhistory
*.RData
*.RDataTmp
*.RDataTmp1
